@import url('./styles/1-intro.css');
@import url('./styles/2-header.css');
@import url('./styles/3-main.css');
@import url('./styles/4-about.css');
@import url('./styles/5-best-ramyun.css');
@import url('./styles/6-curriculum.css');
@import url('./styles/7-contact.css');
@import url('./styles/8-footer.css');

/* @import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Gothic&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Young+Serif&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Young+Serif&display=swap');
/* ===== 변수 구간 ===== */
:root {
  --color-main: #db492c;
  --color-sub: #3360a9;
  --color-dark: #2f4858;
  --color-darker: #2f405c;
  --color-emph: #c74675;
  --color-text: #281812;
  --color-lighter: #d5a419;
  --color-light-bd: #ffe6d6;
  --color-light-bg: #fff9f5;

  --font-code: 'Gothic A1', monospace;
  --font-eng: 'Montserrat';
  --font-size-title: 44px;
  --font-size-subtitle: 32px;
  --font-size-tag: 26px;
  --font-size-larger: 22px;
  --font-size-text: 18px;

  --height-toolbar: 72px;
}

/* ===== 리셋 구간 ===== */

body {
  margin: 0;
  font-family: 'Gothic A1';
  /* 개발용 설정 */
  min-height: 150vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

strong,
em {
  font-weight: inherit;
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl {
  margin: 0;
}
dd {
  margin: 0;
  display: inline;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

th {
  font-weight: normal;
}

address {
  font-style: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
